---
layout: archive
title: "Open Science Projects"
permalink: /portfolio/
author_profile: true
---

<p align=“justify“> This page is dedicated to projects and ideas which I more or less pursued at some point but do not find the time to continue. The most recent state of the project is presented in each post. If one is currently work in progress, it is mentioned at the top of the post and in the excerpt as well. I invite you to continue with them as you see fit. I only ask you to contact me when you pick up on one of them, using the given ID, so that I can make a note on the corresponding post that it is work in progress. If someone else wants to join in, I will contact you, asking for news and whether the other person might join in. The idea derives obviously from the polymaths project but on a smaller scale.</p>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

